body {
    margin: 0px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 420px;
}

.regularDiv {
    display: flex;
    flex: 1;
    flex-basis: 6%;
    border: 1px solid black;
}

.squareButton {
    margin: 16px;
    padding: 16px;
}